<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <!-- 見出し -->
    <h1>Mom's Note</h1>

    <!-- 入力フォーム -->
    <form method="post" enctype="multipart/form-data">
      <!-- ファイルの選択 -->
      <input type="file" name="image_data">
      <!-- テキストの入力 -->
      <input type="text" name="title">
      <!-- 送信ボタン -->
      <button type="submit">送信する</button>
    </form>

  <footer>
    <a href="/">トップページ</a>
  </footer>

  </body>
</html>
